<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".viewdraghelper.base.BaseActivity" />
        <activity android:name=".viewdraghelper.temp.TempActivity" />
        <activity android:name=".viewdraghelper.ViewDragHelperActivity" />
        <activity android:name=".velocitytracker.VelocitytrackerBaseActivity" />
        <activity android:name=".velocitytracker.VelocitytrackerActivity" />
        <activity android:name=".check.CheckActivity" />
        <activity android:name=".textview.TextViewActivity" />
        <activity android:name=".stroketextview.StrokeActivity" />

        <activity android:name=".audio.AudioActivity"/>
        <activity android:name=".audio.test.TestActivity"/>
        <activity android:name=".audio.base.BaseActivity"/>
        <activity android:name=".audio.drawabletest.DrawableActivity"/>

        <activity android:name=".audio2.Audio2Activity"/>
        <activity android:name=".progress.ProgressActivity"/>
        <activity android:name=".progress2.Progress2Activity"/>

        <activity android:name=".praise.PraiseActivity"/>
        <activity android:name=".praise.PraiseBtnActivity"/>
        <activity android:name=".praise.PraiseMainActivity"/>

        <activity android:name=".swipe.SwipeActivity" />
        <activity android:name=".swipe.recyclerview.RecyclerViewActivity" />
        <activity android:name=".swipe.refresh.RefreshActivity" />
        <activity android:name=".swipe.viewpager.ViewpagerActivity" />
        <activity android:name=".swipe.customviewpager.CustomViewPagerActivity" />
        <activity android:name=".star.StarActivity" />
        <activity android:name=".dynamic_add.DynamicAddActivity" />

    </application>

</manifest>